{% extends base_main_content_template %}
{% load static %}

{% block main_content %}
<div class="main-content">
  <h3>Django Google API Course - Routing</h3>
  <div id="map" style="height: 400px; width: 100%;"></div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  var google_api_key = "{{google_api_key|safe}}";
  var base_country = "{{base_country|safe}}";
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap&libraries=&v=weekly" async defer></script>

<script>
  let map;

  function initMap() {
      // Use dynamic latitude and longitude from the Django context
      const myLatLng = { lat: {{ lat }}, lng: {{ lon }} };
      map = new google.maps.Map(document.getElementById("map"), {
          center: myLatLng,
          zoom: 8,
      });

      new google.maps.Marker({
          position: myLatLng,
          map,
          title: "Hello World!",
      });
  }
</script>
{% endblock %}
