{% extends "admin/base_site.html" %}
{% block content %}
  <form action="{% url 'assign_users_handler' %}" method="post">
    {% csrf_token %}
    <div>
      <label for="group">Choose a group:</label>
      <select name="group" required>
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="hidden" name="action" value="assign_users_to_group" />
    <input type="hidden" name="selected" value="{{ selected }}" />
    <input type="submit" name="apply" value="Assign Users" />
  </form>
{% endblock %}
