    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;


    }

    .content-scroll {
        padding-bottom: 20px;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }

    .content-scroll::-webkit-scrollbar {
        width: 8px;

    }

    .content-scroll::-webkit-scrollbar-thumb {
        background-color: transparent;

    }

    .content-scroll::-webkit-scrollbar-track {
        background-color: transparent;

    }

    main {
        flex: 1;
    }

    .nav-link-new {
        padding: 20px;
        display: flex;
        flex-direction: row;
        border-radius: 0.125rem;
    }

    .nav-link-new:hover {
        background: #CFDDF9;
    }

    .navbar-content {
        overflow: hidden;
        overflow-y: scroll;
        position: fixed !important;
        top: 0;
        left: 0;
        padding: 0 !important;
        z-index: 40;
        height: 100vh;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .navbar-alignment {
        padding-left: 0;
        width: 100%;
        height: 100%;

    }

    .navbar-content::-webkit-scrollbar {
        width: 1px;

    }

    .navbar-content::-webkit-scrollbar-thumb {
        background-color: transparent;

    }

    .navbar-content::-webkit-scrollbar-track {
        background-color: transparent;

    }

    .navbar-animation {

        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .menu-title {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    .menu-button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        outline: inherit;
    }


    .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        border: none !important;
    }

    .menu-icon-rotation{
    transform: rotate(180deg);
    }

    .menu-icon-animation {
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;


    }

    @media (min-width: 640px) {
        .navbar-new {
            --transform-translate-x: 0;
        }
    }

    .navbar-width {
        padding-left: 280px;
    }

    .main-nav-title {
        display: flex;
        font-size: large;
        font-weight: bold;
        padding-bottom: 50px;
        padding-top: 50px;
        margin-bottom: 4px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0.125rem;
        color: #111827;
    }

    .body-height {
        height: 100vh !important;
        width: 100%;

    }

    .menu-collapsed {
        padding-left: 100px !important;

    }

    .menu-expand {
        padding-left: 300px !important;

    }

    .content-animation {
        transition: padding-left 0.3s;
    }

    .main-nav-title:hover {
        background-color: #CFDDF9;
    }

    .nav-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
    }

    .nav-item {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;
        border: none;
        padding: 0;
        margin: 0;
    }

    .icon-padding {
        padding-right: 9px;
    }

    .navbar-max-width {
        width: 280px;
    }

    .main-title-max-width {
        width: 180px;
    }

    .navbar-min-width {
        width: 80px;
    }

    .hide {
        display: none !important;
    }

    .selected {
        background-color: #CFDDF9;
    }

    .active {
        background-color: #CFDDF9;

    }

    .user-name {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    @media (min-width: 768px) {
        .navbar-width {
            padding-left: 280px;
        }
    }


    .footer-new {
        background-color: lightgray;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .btn-primary {
        background: #3B82F6;
    }


    .delayed-text {
        opacity: 0;
        /* Initially set opacity to 0 */
        animation: fadeIn 0.3s ease-out 0.3s forwards;
        /* Delay the animation */
    }