{% extends "base.html" %}
{% load static widget_tweaks %}

{% load static %}

{% block main_content %}
<div class="container mt-5">
    <form action="" method="post" class="border p-5">
        {% csrf_token %}
        
        <div class="form-group">
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-primary">Make API Call</button>
    </form>
</div>
{% endblock %}
