{% extends base_main_content_template %}
{% load static %}

{% block main_content %}
<!-- First row (full width) -->
<div class="row text-center">
    <div class="horizontal-center">
        <h2>{{ title }}</h2>
    </div>        
</div>

<!-- Div for Tabulator table -->
<div class="container">
    <div class="row">
        <div class="col">
            <div id="myDataTable2" class="p-3"></div>
        </div>
    </div>
</div>

<!-- Download Button Container -->
{% if data %}
    <div class="container mt-3" id="download-csv-container" style="display: none;">
        <button id="download-csv" class="btn btn-success">Download CSV</button>
    </div>
{% endif %}

{% if test_str %}
<div class="row">
    <h3>Testing:</h3>
    <p>{{ test_str|safe }}</p>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = {{ data|safe }};
        var post_url = "{{ post_url }}"; // post_url

        var table = new Tabulator("#myDataTable2", {
            data: data,
            layout: "fitColumns",
            placeholder: "No Data Available",
            columns: generateColumns(data),
        });

        function generateColumns(dataArray) {
            if (!dataArray.length) return [];
            var keys = Object.keys(dataArray[0]);
            return keys.map(function(key) {
                var editor = key !== 'id' ? "input" : false; // Assuming 'id' should not be editable
                return {
                    title: key.charAt(0).toUpperCase() + key.slice(1),
                    field: key,
                    editor: editor,
                    headerFilter: "input",
                    sorter: true,
                    cellEdited: function(cell) {
                        // cell - the cell component for the edited cell
                        var rowData = cell.getRow().getData();
                        var field = cell.getField();
                        var value = cell.getValue();

                        // Send AJAX request to update the model instance
                        updateModelInstance(rowData.id, field, value, post_url);
                    }
                };
            });
        }

        function updateModelInstance(id, field, value, url) {
            var postData = {
                'id': id,
                'field': field,
                'value': value,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            $.ajax({
                url: url, 
                type: "POST",
                data: postData,
                headers: {'X-CSRFToken': '{{ csrf_token }}'}, // Add CSRF Token Header
                success: function(response) {
                    console.log("Update successful");
                },
                error: function(error) {
                    console.error("Error updating instance: ", error);
                }
            });
        }

    });
</script>
{% endblock %}