{% extends base_main_content_template %}
{% load static %}
{% load crispy_forms_tags %}

{% block block_LB %}
<!DOCTYPE html>
<html>
<head>
    <title>Dropdown Redirect</title>
</head>
<body>
    <form id="redirectForm">
        {% crispy form %}
    </form>

    <script>
        document.getElementById('id_choose_action').addEventListener('change', function() {
            var selectedView = this.value;
            var endPoint = "{{end_point}}"; // Replace with the actual endpoint value
            var moduleName = "{{module_name}}"; // Replace with the actual module name or the value selected from the dropdown

            if (selectedView) {
                // Assuming your view names are part of the URL pattern
                window.location.href = "/" + endPoint + "/" + moduleName + "/roles/" + selectedView + "/";
            }
        });
    </script>
</body>
</html>
{% endblock %}