{% extends base_main_content_template %}
{% load static %}
{% load crispy_forms_tags %}

{% block main_content %}
<!-- Div for Upload csv -->
{% if form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endif %}
<!-- Div for Tabulator table -->
{% if data %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="myDataTable2" class="p-3"></div>
            </div>
        </div>
    </div>

    <form method="post" id="confirmForm">
        {% csrf_token %}
        <!-- Hidden input field for the confirm action -->
        <input type="hidden" name="isconfirm" value="true">
        
        <!-- Confirm Button -->
        <div class="container mt-3">
            <button type="submit" class="btn btn-success">Confirm</button>
        </div>
    </form>
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = {{ data|safe }};
        
        var table = new Tabulator("#myDataTable2", {
            data: data,
            layout: "fitColumns",
            placeholder: "No Data Available",
            columns: generateColumns(data),
        });

        function generateColumns(dataArray) {
            if (!dataArray.length) return [];
            var keys = Object.keys(dataArray[0]);
            return keys.map(function(key) {
                return {
                    title: key.charAt(0).toUpperCase() + key.slice(1),
                    field: key,
                    headerFilter: "input", // Enable header filtering
                    sorter: true, // Enable sorting
                };
            });
        }

        // Make the download button visible
        document.getElementById("confirm-bulk-insert-container").style.display = 'block';

        // Flag to check if the event listener has been attached
        var isDownloadListenerAttached = false;

        // Attach event listener to the download button if not already attached
        if (!isDownloadListenerAttached) {
            document.getElementById("download-csv").addEventListener("click", function() {
                table.download("csv", "data.csv");
            });

            // Update the flag
            isDownloadListenerAttached = true;
        }

    });
</script>
{% endblock %}