{% extends base_main_content_template %}
{% load static %}

{% block block_LB %}
    <h3>Custom Items</h3>
    <ul>
    {% for item in items %}
        <li>
            <!-- Set a JavaScript function to change the iframe's src -->
            <a href="#" onclick="loadInIframe('{{ item.value }}'); return false;">{{ item.label }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}    
    <!-- This is the iframe where the content will be displayed -->
    <div class="iframe-container">
        <iframe id="customIframe" src="{{ default_url }}" width="100%" height="500px"></iframe>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function loadInIframe(url) {
            document.getElementById('customIframe').src = url;
        }
    </script>
{% endblock %}

