{% extends base_main_content_template %}
{% load static %}

{% block block_LB %}
    <h5>{{title}}</h5>
    <h6>{{subtitle}}</h6>
    <select id="dropdownSelector" onchange="location = this.options[this.selectedIndex].value;">
        <option selected disabled>Choose an option...</option>
        {% for item in items %}
            <option value="{% url contextlevel item.modulename item.value %}">{{ item.label }}</option>
        {% endfor %}
    </select>

{% endblock %}

{% block main_content %}
    <!-- First row (full width) -->
    <div class="row">
        <div class="horizontal-center">
            <h2>{{title}}</h2>
        </div>        
    </div>

    <!-- Second row -->
    <div class="row">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Graph container -->
        <div id="plotly_graph1"></div>
        
        <script>
            var graph1_data = {{ graph1 | safe }};
            Plotly.react('plotly_graph1', graph1_data.data, graph1_data.layout);
        </script>
    </div>

    <!-- Second row -->
    <div class="row">
        <!-- Graph container -->
        <div id="plotly_graph2"></div>        
        <script>
            var graph2_data = {{ graph2 | safe }};
            Plotly.react('plotly_graph2', graph2_data.data, graph2_data.layout);
        </script>

    </div>

    <!-- Third row -->
    <div class="row">
        <!-- Graph container -->
        <div id="plotly_graph3"></div>        
        <script>
            var graph3_data = {{ graph3 | safe }};
            Plotly.react('plotly_graph3', graph3_data.data, graph3_data.layout);
        </script>

    </div>
    
    <!-- Table row -->
    <table id="myDataTable2" class="table dataTable">
    <!-- Table header -->
    <thead>
        <tr>
            {% if data %}
                <h4>{{ title|add:" data" }}</h4>
                {% for key in data.0.keys %}  <!-- Assuming all dictionaries have the same keys -->
                    <th>{{ key }}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <!-- Table body -->
    <tbody>
        {% for item in data %}
            <tr>
                {% for key, value in item.items %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
    {% if data %}
    <a href="?download=true" class="btn btn-primary">Download CSV</a>
    {% endif %}


    <!-- iframe row -->
    <div class="row">
        <div class="iframe-container">
            <!-- Assign an ID to the iframe -->
            <iframe id="main-iframe" src="{{ iframe_src|default:default_src }}" style="width:100%; height:500px;"></iframe>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Include the iframe-handler JavaScript file -->
    <script src="{% static 'syscoreApp/js/iframehandler.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize the iframe with the showIframe function
            showIframe("{{ iframe_src|default:'' }}", "main-iframe");
        });
    </script>
    <!-- ... DataTable initialization script from Template 2 ... -->
    <script>
        $(document).ready( function () {
            $('#myDataTable2').DataTable();
        });
    </script>
{% endblock %}